<!DOCTYPE html>
<html ng-app='list'>
  <head>
    <title>MyList</title>
    <link rel='stylesheet' type="text/css" href="styles/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two" rel="stylesheet">
    <meta charset="utf-8">
  </head>
  <body ng-view>
    <h1>MyList</h1>
    <div id='container' ng-controller='ListController'>
      <form ng-submit='addToList(item)'>
        <input ng-model='item' type='text' />
        <button type='submit'>Add to List</button>
      </form>
      <ul>
      <!-- may need an ng-init=loadAll() to load from DB on refresh -->
        <li class='list' ng-repeat='item in items track by $index' ng-click='delete($index)'>{{item}}</li>
      </ul>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.min.js"></script>
    <script src='list.js'></script>
    <script src='models/item.js'></script>
    <script src='app.js'></script>
  </body>
  </html>